﻿<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="~/Templates/Templates/docmed-master/img/Adwit-Biomed-Logo.png" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="~/Templates/Templates/docmed-master/img/Adwit-Biomed-Logo.png" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="https://uscamp.com.tr/wp-content/uploads/2021/11/abd-de-doktor-olmanin-10-avantaji.webp" alt="profile" />
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column pr-3">
                    <span class="font-weight-medium mb-2">Enis Buğra Akada</span>
                    <span class="font-weight-normal"></span>
                </div>
                <span class="badge badge-danger text-white ml-3 rounded">3</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/Department/Index">
                <i class="mdi mdi-contacts menu-icon"></i>
                <span class="menu-title">Bölümler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Doctor/Index">
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                <span class="menu-title">Doktorlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Appointment/Index">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">Randevular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Service/Index">
                <i class="mdi mdi-table-large menu-icon"></i>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/Index">
                <i class="mdi mdi-table-large menu-icon"></i>
                <span class="menu-title">İletişim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/Index">
                <i class="mdi mdi-table-large menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item sidebar-actions">
            
        </li>
    </ul>
</nav>